{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Gallery Browser</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <div class="collection">
          <a href="https://github.com/Kstheking/khushal-sahni" class="collection-item active">Khushal Sahni</a>
          <a href="https://github.com/Ujdemon/Ujjwal-Kumar" class="collection-item">Ujjawal Kumar</a>
          <a href="https://github.com/prityush4444/prityush" class="collection-item">Prityush</a>
          <a href="https://github.com/goyal08akshat/akshat-resp" class="collection-item">Akshat Goyle</a>
          <a href="https://github.com/arron-tij/Ronit_Raj" class="collection-item">Ronit Raj</a>
          <a href="https://github.com/Priyanshu19992002/Priyanshu-Rai" class="collection-item">Priyanshu Rai</a>
          <a href="https://github.com/RUPAK1008/gallery" class="collection-item">Rupak</a>
          <a href="https://github.com/abhi00999/Abhijeet-Kumar-Singh/tree/master/img%20gallery" class="collection-item">Abhijeet Kumar Singh</a>
          <a href="https://github.com/Jainag-ambati/jainag-ambati.github.io" class="collection-item">Jainag</a>
        </div>
      </div>
      <div class="col s12 m4 offset-m4">
        <div class="collection">
          <a href="https://github.com/rajeshwar0904/rajeshwar0904.github.io" class="collection-item">Rajeshwar</a>
          <a href="https://github.com/HarshitSachan1999/harshit" class="collection-item">Harshit Sachan</a>
          <a href="https://github.com/adikrs/Aditya-Kumar-SIngh" class="collection-item">Aditya Kumar Singh</a>
          <a href="https://github.com/Yogeah-1999/image" class="collection-item">Yogesh</a>
          <a href="https://github.com/shiveshdixit99/Shivesh-Dixit" class="collection-item">Shivesh Dixit</a>
          <a href="https://github.com/Sagardeep1/Image-gallery.git" class="collection-item">Sagardeep</a>
          <a href="https://github.com/aditya-prakash-gupta/Aditya-Prakash-Gupta.git" class="collection-item">Aditya Prakash Gupta</a>
          <a href="https://github.com/yashrajbharti/Starbucks-Online-Basic-Gallery" class="collection-item">Yashraj Bharti</a>
          <a href="https://github.com/Bikashiitbhu/bikash" class="collection-item">Bikash</a>

        </div>
      </div>
    </div>
  </div>
</body>

</html>
